doctype html
html
	head
		title Users
		link(rel="stylesheet" href="//d3o8b3fl56q00x.cloudfront.net/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript")
		link(href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" type="text/css")
		script(src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js")
		script.
			
			function myFunction() {
			  // Declare variables 
			  var input, filter, table, tr, td, i;
			  input = document.getElementById("myInput");
			  filter = input.value.toUpperCase();
			  table = document.getElementById("myTable");
			  tr = table.getElementsByTagName("tr");

			  // Loop through all table rows, and hide those who don't match the search query
			  for (i = 0; i < tr.length; i++) {
			    td = tr[i].getElementsByTagName("td")[0] || tr[i].getElementsByTagName("td")[1] || tr[i].getElementsByTagName("td")[2] || tr[i].getElementsByTagName("td")[3] || tr[i].getElementsByTagName("td")[4] || tr[i].getElementsByTagName("td")[5];
			    if (td) {
			      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			        tr[i].style.display = "";
			      } else {
			        tr[i].style.display = "none";
			      }
			    } 
			  }
			}
		
	body
		div
			input(type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..")
			table.table#myTable(style="width:100%")
				thead
					tr
						th User Id
						th Reputation
						th Name
						th About
						th Location
						th Up Votes/Down Votes
						th Age
						th Account Id

				tbody

					for items in Users.users.row
						for i in items
							tr
								td #{i.Id}
								td #{i.Reputation}
								td #{i.DisplayName}
								td #{i.AboutMe}
								td #{i.Location}
								td #{i.UpVotes}/#{i.DownVotes}
								td #{i.Age}
								td #{i.AccountId}

				